version: '3.7'

services:
  searxng:
    container_name: searxng
    image: searxng/searxng
    ports:
      - "8080:8080"
    volumes:
      - ./searxng:/etc/searxng
    environment:
      - INSTANCE_NAME=lyra-searxng
      - BASE_URL=http://localhost:8080/
      - ULTRASECRET_KEY=${SEARXNG_KEY}
    restart: unless-stopped